<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KND team</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="shortcut icon" href="../Assets/Img/LOGO-IG.png">
</head>
<body id="grillaTienda">
    <header>
		<img src="../Assets/Img/KND.png" alt="Logo KND" class="logo">
		<nav class="nav">
			<ul class="navUl">
				<li class="navUlLi"><a href="../index.html" class="navUlLiA">Home</a></li>
				<li class="navUlLi"><a href="quienesSomos.html" class="navUlLiA">Quienes Somos</a></li>
				<li class="navUlLi">Tienda</li>
				<li class="navUlLi"><a href="comunidad.html" class="navUlLiA">Comunidad</a></li>
				<li class="navUlLi"><a href="contacto.html" class="navUlLiA">Contacto</a></li>
			</ul>
		</nav>
	</header>
    <h1 class="titleTienda">Tienda</h1>
	<section class="sectionTienda gridTienda1">
		<h2 id="camisetas-title" class="camisetasTienda">CAMISETAS</h2>
		<div class="divTienda">
			<div class="articuloTienda">
				<p>ARTICULO 1</p>
				<img src="../Assets/Img/FotoCamisetaBlanca.jpg" alt="Foto Articulo 1" class="imagenArticuloTienda">
			</div>
			<div class="articuloTienda">
				<p>ARTICULO 2</p>
				<img src="../Assets/Img/FotoCamisetaBlanca.jpg" alt="Foto Articulo 2" class="imagenArticuloTienda">
			</div>
			<div class="articuloTienda">
				<p>ARTICULO 3</p>
				<img src="../Assets/Img/FotoCamisetaBlanca.jpg" alt="Foto Articulo 3" class="imagenArticuloTienda">
			</div>
		</div>
	</section>
	<section class="sectionTienda gridTienda2">
		<h2 id="buzos-title" class="buzosTienda">BUZOS</h2>
		<div class="divTienda">
			<div class="articuloTienda">
				<p>ARTICULO I</p>
				<img src="../Assets/Img/FotoBuzoGris.jpg" alt="Foto Articulo 1" class="imagenArticuloTienda">
			</div>
			<div class="articuloTienda">
				<p>ARTICULO II</p>
				<img src="../Assets/Img/FotoBuzoGris.jpg" alt="Foto Articulo 2" class="imagenArticuloTienda">
			</div>
			<div class="articuloTienda">
				<p>ARTICULO III</p>
				<img src="../Assets/Img/FotoBuzoGris.jpg" alt="Foto Articulo 3" class="imagenArticuloTienda">
			</div>
		</div>
	</section>
	<section class="sectionTienda gridTienda3">
		<h2 id="gorras-title" class="gorrasTienda">GORRAS</h2>
		<div class="divTienda">
			<div class="articuloTienda">
				<p>ARTICULO α</p>
				<img src="../Assets/Img/FotoGorraNegra.jpg" alt="Foto Articulo 1" class="imagenArticuloTienda">
			</div>
			<div class="articuloTienda">
				<p>ARTICULO β</p>
				<img src="../Assets/Img/FotoGorraNegra.jpg" alt="Foto Articulo 2" class="imagenArticuloTienda">
			</div>
			<div class="articuloTienda">
				<p>ARTICULO γ</p>
				<img src="../Assets/Img/FotoGorraNegra.jpg" alt="Foto Articulo 3" class="imagenArticuloTienda">
			</div>
		</div>
	</section>
	<footer class="footer">
		<h6 class="footerItems">Copyright</h6>
		<h6 class="footerItems">Redes KND</h6>
	</footer>
</body>
</html>