<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KND team</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="shortcut icon" href="../Assets/Img/LOGO-IG.png">
</head>
<body>
    <header>
		<img src="../Assets/Img/KND.png" alt="Logo KND" class="logo">
		<nav class="nav">
			<ul class="navUl">
				<li class="navUlLi"><a href="../index.html" class="navUlLiA">Home</a></li>
				<li class="navUlLi"><a href="quienesSomos.html" class="navUlLiA">Quienes Somos</a></li>
				<li class="navUlLi"><a href="tienda.html" class="navUlLiA">Tienda</a></li>
				<li class="navUlLi">Comunidad</li>
				<li class="navUlLi"><a href="contacto.html" class="navUlLiA">Contacto</a></li>
			</ul>
		</nav>
	</header>
    <h1 class="titleComunidad">Comunidad</h1>
	<section>
		<article>
			<h3 class="titleBlog">Blog de la comunidad</h3>
			<div class="tableComunidad">
				<table border="1" cellpadding="1" cellspacing="1">
					<tr>
						<th>Tema</th>
						<th>Fecha</th>
						<th>Autor</th>
						<th>Comentarios</th>
						<th>Link</th>
					</tr>
					<tr>
						<td>
							<li>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Ipsa assumenda est obcaecati soluta minus id, commodi laboriosam recusandae voluptatum, dolores mollitia porro repudiandae. Nostrum labore explicabo ratione rerum at fugit.</li>
						</td>
						<td>00/00/0000</td>
						<td>xxxxx</td>
						<td>
							<ol>
								<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo libero suscipit quis nam sunt tempora illum. Provident vero earum consequuntur labore. Nisi nulla sit quasi commodi in esse blanditiis eaque.</li>
								<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo libero suscipit quis nam sunt tempora illum. Provident vero earum consequuntur labore. Nisi nulla sit quasi commodi in esse blanditiis eaque.</li>
							</ol>
						</td>
						<td>https://www.****.com</td>
					</tr>
				</table>
			</div>
			<div class="tableComunidad">
				<table border="1" cellpadding="1" cellspacing="1">
					<tr>
						<th>Tema</th>
						<th>Fecha</th>
						<th>Autor</th>
						<th>Comentarios</th>
						<th>Link</th>
					</tr>
					<tr>
						<td>
							<li>Lorem ipsum dolor, sit amet, consectetur adipisicing elit. Ipsa assumenda est obcaecati soluta minus id, commodi laboriosam recusandae voluptatum, dolores mollitia porro repudiandae. Nostrum labore explicabo ratione rerum at fugit.</li>
						</td>
						<td>00/00/0000</td>
						<td>xxxxx</td>
						<td>
							<ol>
								<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo libero suscipit quis nam sunt tempora illum. Provident vero earum consequuntur labore. Nisi nulla sit quasi commodi in esse blanditiis eaque.</li>
								<li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo libero suscipit quis nam sunt tempora illum. Provident vero earum consequuntur labore. Nisi nulla sit quasi commodi in esse blanditiis eaque.</li>
							</ol>
						</td>
						<td>https://www.****.com</td>
					</tr>
				</table>
			</div>
		</article>
			<h3 class="titleClips">Clips de la comunidad</h3>
			<div class="divClips">
				<div class="divClipsBox">
					<p class="textClips">Clip 1</p>
					<iframe src="../assets/videos/mivideo.mp4"></iframe>
					<p>Clipeado por: @@@@</p>
				</div>
				<div class="divClipsBox">
					<p class="textClips">Clip 2</p>
					<iframe src="../assets/videos/mivideo.mp4"></iframe>
					<p>Clipeado por: @@@@</p>
				</div>
				<div class="divClipsBox">
					<p class="textClips">Clip 3</p>
					<iframe src="../assets/videos/mivideo.mp4"></iframe>
					<p>Clipeado por: @@@@</p>
				</div>
				<div class="divClipsBox">
					<p class="textClips">Clip 4</p>
					<iframe src="../assets/videos/mivideo.mp4"></iframe>
					<p>Clipeado por: @@@@</p>
				</div>
			</div>
	</section>
	<footer class="footer">
		<h6 class="footerItems">Copyright</h6>
		<h6 class="footerItems">Redes KND</h6>
	</footer>
</body>
</html>