<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KND team</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="shortcut icon" href="../Assets/Img/LOGO-IG.png">
</head>
<body id="grillaQuienesSomos">
    <header>
		<img src="../Assets/Img/KND.png" alt="Logo KND" class="logo">
		<nav class="nav">
			<ul class="navUl">
				<li class="navUlLi"><a href="../index.html" class="navUlLiA">Home</a></li>
				<li class="navUlLi">Quienes Somos</li>
				<li class="navUlLi"><a href="tienda.html" class="navUlLiA">Tienda</a></li>
				<li class="navUlLi"><a href="comunidad.html" class="navUlLiA">Comunidad</a></li>
				<li class="navUlLi"><a href="contacto.html" class="navUlLiA">Contacto</a></li>
			</ul>
		</nav>
	</header>
    <h1 class="titleQuienesSomos">Quienes somos</h1>
    <div class="divQuienesSomos gridQuienesSomos1">
        <div class="divQuienesSomosNombre">
            <p class="divQuienesSomosTitle">Nombre</p>
            <p>Agustin Pereyra (WOOWSITO)</p>
        </div>
        <div class="divQuienesSomosSobreMi">
            <p class="divQuienesSomosTitle">Sobre mi</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, amet.</p>
        </div>
        <div class="divQuienesSomosRedes">
            <p class="divQuienesSomosTitle">Redes</p>
            <ul class="ulRedes">
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitch</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Instagram</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitter</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Youtube</a></li>
            </ul>
        </div>
    </div>
    <div class="divQuienesSomos gridQuienesSomos2">
        <div class="divQuienesSomosNombre">
            <p class="divQuienesSomosTitle">Nombre</p>
            <p>Jorge Mercado (GEORGE)</p>
        </div>
        <div class="divQuienesSomosSobreMi">
            <p class="divQuienesSomosTitle">Sobre mi</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, amet.</p>
        </div>
        <div class="divQuienesSomosRedes">
            <p class="divQuienesSomosTitle">Redes</p>
            <ul class="ulRedes">
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitch</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Instagram</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitter</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Youtube</a></li>
            </ul>
        </div>
    </div>
    <div class="divQuienesSomos gridQuienesSomos3">
        <div class="divQuienesSomosNombre">
            <p class="divQuienesSomosTitle">Nombre</p>
            <p>Facundo Stanislav (MAMBO)</p>
        </div>
        <div class="divQuienesSomosSobreMi">
            <p class="divQuienesSomosTitle">Sobre mi</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, amet.</p>
        </div>
        <div class="divQuienesSomosRedes">
            <p class="divQuienesSomosTitle">Redes</p>
            <ul class="ulRedes">
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitch</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Instagram</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitter</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Youtube</a></li>
            </ul>
        </div>
    </div>
    <div class="divQuienesSomos gridQuienesSomos4">
        <div class="divQuienesSomosNombre">
            <p class="divQuienesSomosTitle">Nombre</p>
            <p>Elian Filippo (ELI)</p>
        </div>
        <div class="divQuienesSomosSobreMi">
            <p class="divQuienesSomosTitle">Sobre mi</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, amet.</p>
        </div>
        <div class="divQuienesSomosRedes">
            <p class="divQuienesSomosTitle">Redes</p>
            <ul class="ulRedes">
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitch</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Instagram</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Twitter</a></li>
                <li class="ulLiRedes"><a href="" class="ulLiARedes">Youtube</a></li>
            </ul>
        </div>
    </div>
    <footer class="footer">
		<h6 class="footerItems">Copyright</h6>
		<h6 class="footerItems">Redes KND</h6>
	</footer>
</body>
</html>